@import "compass/css3";

* {
  box-sizing: border-box;
}

body {
  // background: linear-gradient(90deg, #ffe100, #F9D423);
  background: #fe8300;
  color: white;
  font-family: helvetica, arial;
  padding: 0 100px;
}

@mixin animation($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@include animation(fadeIn) {
  0% {
    opacity: 0;
    transform: translateY(50%);  
  }
  100% {
    opacity: 1;
    transform: translateY(0%); 
  }
}


.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  // width: 100vw;
}

.card {
  border-radius: 73px;
  background: linear-gradient(145deg, #e57600, #ff8c00);
  box-shadow:  17px 17px 32px #c46500, 
               -17px -17px 32px #ffa100;
  transition: 0.4s ease-out;
  
  
  &:hover {
    border-radius: 73px;
    background: #fe8300;
    box-shadow: inset 17px 17px 32px #c46500, 
                inset -17px -17px 32px #ffa100;
  }
}

.card-shown {
  color: #333333;
  text-transform: uppercase;
  width: 300px;
  height: 362px;
  float: left;
  margin: 0 1em 1em 0;
  padding: 1em;
  opacity: 0;
  @include animation-name(fadeIn);
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(1);
  @include animation-direction(normal);
  @include animation-delay(0s);
  @include animation-fill-mode(forwards);
  @for $i from 1 through 20 {
    &:nth-of-type(#{$i}) {
      $delay: 0.1 * $i;
      @include animation-delay(#{$delay}s);
    }
  }
}